#menu {
  background: var(--colorBlack);
  color: var(--colorWhite);

  & h2 {
    padding-left: 10px;
  }

  & ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  & li {
    height: 50px;
    background: red;
    margin-bottom: 10px;
    display: flex;
    background: var(--colorWhite);
  }

  & a {
    text-decoration: none;
    color: var(--colorBlue);
    margin: auto;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
  }
}
